html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
}

.container{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3a3c4e;
    grid: flex;
    align-items: center;
    justify-content: center;
}

.topbar{
    width: 100%;
    height: 50px;

    background-color: #1d1d1d;
}